<div>
    <h2 id="page-heading">
        <span jhiTranslate="gestionNotesFsegsApp.resultat.home.title">Resultats</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-resultat"  *jhiHasAnyAuthority="'ROLE_ADMIN'" [routerLink]="['/resultat/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="gestionNotesFsegsApp.resultat.home.createLabel">
            Create a new Resultat
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="resultats?.length === 0">
        <span jhiTranslate="gestionNotesFsegsApp.resultat.home.notFound">No resultats found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="resultats && resultats.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="notecc1"><span jhiTranslate="gestionNotesFsegsApp.resultat.notecc1">Notecc 1</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="notecc2"><span jhiTranslate="gestionNotesFsegsApp.resultat.notecc2">Notecc 2</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="noteexmen"><span jhiTranslate="gestionNotesFsegsApp.resultat.noteexmen">Noteexmen</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="matiereId"><span jhiTranslate="gestionNotesFsegsApp.resultat.matiere">Matiere</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="inscriptionId"><span jhiTranslate="gestionNotesFsegsApp.resultat.inscription">Inscription</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let resultat of resultats ;trackBy: trackId">
                    <td><a [routerLink]="['/resultat', resultat.id, 'view']">{{ resultat.id }}</a></td>
                    <td>{{ resultat.notecc1 }}</td>
                    <td>{{ resultat.notecc2 }}</td>
                    <td>{{ resultat.noteexmen }}</td>
                    <td>
                        <div *ngIf="resultat.matiereId">
                            <a [routerLink]="['/matiere', resultat.matiereId , 'view']" >{{ resultat.matiereId }}</a>
                        </div>
                    </td>
                    <td>
                        <div *ngIf="resultat.inscriptionId">
                            <a [routerLink]="['/inscription', resultat.inscriptionId , 'view']" >{{ resultat.inscriptionId }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/resultat', resultat.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"  *jhiHasAnyAuthority="'ROLE_ADMIN'"
                                    [routerLink]="['/resultat', resultat.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(resultat)"  *jhiHasAnyAuthority="'ROLE_ADMIN'"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div *ngIf="resultats && resultats.length > 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>

        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
    </div>
</div>
