<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="enseignant">
            <h2><span jhiTranslate="gestionNotesFsegsApp.enseignant.detail.title">Enseignant</span> {{ enseignant.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="gestionNotesFsegsApp.enseignant.nom">Nom</span></dt>
                <dd>
                    <span>{{ enseignant.nom }}</span>
                </dd>
                <dt><span jhiTranslate="gestionNotesFsegsApp.enseignant.pernom">Pernom</span></dt>
                <dd>
                    <span>{{ enseignant.pernom }}</span>
                </dd>
                <dt><span jhiTranslate="gestionNotesFsegsApp.enseignant.mail">Mail</span></dt>
                <dd>
                    <span>{{ enseignant.mail }}</span>
                </dd>
                <dt><span jhiTranslate="gestionNotesFsegsApp.enseignant.matricule">Matricule</span></dt>
                <dd>
                    <span>{{ enseignant.matricule }}</span>
                </dd>
                <dt><span jhiTranslate="gestionNotesFsegsApp.enseignant.cin">Cin</span></dt>
                <dd>
                    <span>{{ enseignant.cin }}</span>
                </dd>
                <dt><span jhiTranslate="gestionNotesFsegsApp.enseignant.dateEmbauchement">Date Embauchement</span></dt>
                <dd>
                    <span>{{ enseignant.dateEmbauchement }}</span>
                </dd>
                <dt><span jhiTranslate="gestionNotesFsegsApp.enseignant.departement">Departement</span></dt>
                <dd>
                    <div *ngIf="enseignant.departementId">
                        <a [routerLink]="['/departement', enseignant.departementId, 'view']">{{ enseignant.departementId }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/enseignant', enseignant.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
