<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-enseignant-heading" jhiTranslate="gestionNotesFsegsApp.enseignant.home.createOrEditLabel">Create or edit a Enseignant</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gestionNotesFsegsApp.enseignant.nom" for="field_nom">Nom</label>
                    <input type="text" class="form-control" name="nom" id="field_nom"
                           formControlName="nom"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gestionNotesFsegsApp.enseignant.pernom" for="field_pernom">Pernom</label>
                    <input type="text" class="form-control" name="pernom" id="field_pernom"
                           formControlName="pernom"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gestionNotesFsegsApp.enseignant.mail" for="field_mail">Mail</label>
                    <input type="text" class="form-control" name="mail" id="field_mail"
                           formControlName="mail"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gestionNotesFsegsApp.enseignant.matricule" for="field_matricule">Matricule</label>
                    <input type="number" class="form-control" name="matricule" id="field_matricule"
                           formControlName="matricule"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gestionNotesFsegsApp.enseignant.cin" for="field_cin">Cin</label>
                    <input type="number" class="form-control" name="cin" id="field_cin"
                           formControlName="cin"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gestionNotesFsegsApp.enseignant.dateEmbauchement" for="field_dateEmbauchement">Date Embauchement</label>
                    <div class="input-group">
                        <input id="field_dateEmbauchement" type="text" class="form-control" name="dateEmbauchement" ngbDatepicker #dateEmbauchementDp="ngbDatepicker" formControlName="dateEmbauchement"/>
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="dateEmbauchementDp.toggle()"><fa-icon icon="calendar-alt"></fa-icon></button>
                        </span>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gestionNotesFsegsApp.enseignant.departement" for="field_departement">Departement</label>
                    <select class="form-control" id="field_departement" name="departement" formControlName="departementId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="departementOption.id" *ngFor="let departementOption of departements; trackBy: trackById">{{ departementOption.id }}</option>
                    </select>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
