<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="inscription">
            <h2><span jhiTranslate="gestionNotesFsegsApp.inscription.detail.title">Inscription</span> {{ inscription.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="gestionNotesFsegsApp.inscription.date">Date</span></dt>
                <dd>
                    <span>{{ inscription.date }}</span>
                </dd>
                <dt><span jhiTranslate="gestionNotesFsegsApp.inscription.annee">Annee</span></dt>
                <dd>
                    <span>{{ inscription.annee }}</span>
                </dd>
                <dt><span jhiTranslate="gestionNotesFsegsApp.inscription.etudiant">Etudiant</span></dt>
                <dd>
                    <div *ngIf="inscription.etudiantId">
                        <a [routerLink]="['/etudiant', inscription.etudiantId, 'view']">{{ inscription.etudiantId }}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="gestionNotesFsegsApp.inscription.classe">Classe</span></dt>
                <dd>
                    <div *ngIf="inscription.classeId">
                        <a [routerLink]="['/classe', inscription.classeId, 'view']">{{ inscription.classeId }}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="gestionNotesFsegsApp.inscription.groupe">Groupe</span></dt>
                <dd>
                    <div *ngIf="inscription.groupeId">
                        <a [routerLink]="['/groupe', inscription.groupeId, 'view']">{{ inscription.groupeId }}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="gestionNotesFsegsApp.inscription.semstre">Semstre</span></dt>
                <dd>
                    <div *ngIf="inscription.semstreId">
                        <a [routerLink]="['/semstre', inscription.semstreId, 'view']">{{ inscription.semstreId }}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="gestionNotesFsegsApp.inscription.cycle">Cycle</span></dt>
                <dd>
                    <div *ngIf="inscription.cycleId">
                        <a [routerLink]="['/cycle', inscription.cycleId, 'view']">{{ inscription.cycleId }}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="gestionNotesFsegsApp.inscription.niveau">Niveau</span></dt>
                <dd>
                    <div *ngIf="inscription.niveauId">
                        <a [routerLink]="['/niveau', inscription.niveauId, 'view']">{{ inscription.niveauId }}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="gestionNotesFsegsApp.inscription.specialite">Specialite</span></dt>
                <dd>
                    <div *ngIf="inscription.specialiteId">
                        <a [routerLink]="['/specialite', inscription.specialiteId, 'view']">{{ inscription.specialiteId }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/inscription', inscription.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
