
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
        <h2 id="jhi-inscription-heading" jhiTranslate="gestionNotesFsegsApp.inscription.home.createOrEditLabel">Create or edit a Inscription</h2>

        <div class="row ">    
  
    <div class="col-md-6">
     
            <div class="form-group" [hidden]="!editForm.get('idetudiant')!.value">
                <label for="idetudiant" jhiTranslate="global.field.id">ID</label>
                <input type="text" class="form-control" id="idetudiant" name="idetudiant" formControlName="idetudiant" readonly />
            </div>

            <div class="form-group">
                <label class="form-control-label" jhiTranslate="gestionNotesFsegsApp.etudiant.cin" for="field_cin">Cin</label>
                <input type="number" class="form-control" name="cin" id="field_cin"
                       formControlName="cin"/>
            </div>

           
            <div class="form-group">
                <label class="form-control-label" jhiTranslate="gestionNotesFsegsApp.etudiant.matricule" for="field_matricule">Matricule</label>
                <input type="text" class="form-control" name="matricule" id="field_matricule"
                       formControlName="matricule"/>
            </div>

            <div class="form-group">
                <label class="form-control-label" jhiTranslate="gestionNotesFsegsApp.etudiant.nom" for="field_nom">Nom</label>
                <input type="text" class="form-control" name="nom" id="field_nom"
                       formControlName="nom"/>
            </div>

            <div class="form-group">
                <label class="form-control-label" jhiTranslate="gestionNotesFsegsApp.etudiant.prenom" for="field_prenom">Prenom</label>
                <input type="text" class="form-control" name="prenom" id="field_prenom"
                       formControlName="prenom"/>
            </div>

            <div class="form-group">
                <label class="form-control-label" jhiTranslate="gestionNotesFsegsApp.etudiant.tel" for="field_tel">Tel</label>
                <input type="number" class="form-control" name="tel" id="field_tel"
                       formControlName="tel"/>
            </div>

            <div class="form-group">
                <label class="form-control-label" jhiTranslate="gestionNotesFsegsApp.etudiant.dateNais" for="field_dateNais">Date Nais</label>
                <div class="input-group">
                    <input id="field_dateNais" type="text" class="form-control" name="dateNais" ngbDatepicker #dateNaisDp="ngbDatepicker" formControlName="dateNais"/>
                    <span class="input-group-append">
                        <button type="button" class="btn btn-secondary" (click)="dateNaisDp.toggle()"><fa-icon icon="calendar-alt"></fa-icon></button>
                    </span>
                </div>
            </div>
        </div>
        <div class="col-md-6">
   
            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gestionNotesFsegsApp.inscription.date" for="field_date">Date</label>
                    <div class="input-group">
                        <input id="field_date" type="text" class="form-control" name="date" ngbDatepicker #dateDp="ngbDatepicker" formControlName="date"/>
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="dateDp.toggle()"><fa-icon icon="calendar-alt"></fa-icon></button>
                        </span>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gestionNotesFsegsApp.inscription.annee" for="field_annee">Annee</label>
                    <div class="input-group">
                        <input id="field_annee" type="text" class="form-control" name="annee" ngbDatepicker #anneeDp="ngbDatepicker" formControlName="annee"/>
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="anneeDp.toggle()"><fa-icon icon="calendar-alt"></fa-icon></button>
                        </span>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label"  for="field_specialite">specialite</label>
                    <input type="number" class="form-control" name="specialite" id="field_specialite"
                         />

                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_cin">niveau</label>
                    <input type="number" class="form-control" name="niveau" id="field_niveau"
                        />
                </div>
          
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gestionNotesFsegsApp.inscription.classe" for="field_classe">Classe</label>
                    <select class="form-control" id="field_classe" name="classe" formControlName="classeId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="classeOption.id" *ngFor="let classeOption of classes; trackBy: trackById">{{ classeOption.nom }}</option>
                        <option [ngValue]="classeOption.id" *ngFor="let classeOption of classes; trackBy: trackById">{{ classeOption.nom }}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gestionNotesFsegsApp.inscription.groupe" for="field_groupe">Groupe</label>
                    <select class="form-control" id="field_groupe" name="groupe" formControlName="groupeId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="groupeOption.id" *ngFor="let groupeOption of groupes; trackBy: trackById">{{ groupeOption.nomgroup }}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gestionNotesFsegsApp.inscription.semstre" for="field_semstre">Semstre</label>
                    <select class="form-control" id="field_semstre" name="semstre" formControlName="semstreId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="semstreOption.id" *ngFor="let semstreOption of semstres; trackBy: trackById">{{ semstreOption.numSemstre }}</option>
                    </select>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
       
    </div>
    </div>
</form>

