
<div class="modal-body">
   
    <div class="row ">
        <div class="col-md-2"> <label for="notecc1" >notecc1</label></div>
        <div class="col-md-3">
            <div class="form-group" >
               
                <input type="number" class="form-control" id="notecc1" onKeyDown="return false" name="notecc1" min=0  max=20 />
            </div>
        </div>
        <div class="col-md-2"><label for="notecc2" >notecc2</label></div>
    <div class="col-md-3">
        <div class="form-group" >  
            <input type="number" class="form-control" id="notecc2" onKeyDown="return false" name="notecc2" min=0  max=20   />
        </div>
    </div>

</div>
  


</div>
<div class="modal-footer">
    <button class="btn btn-primary" >save</button>
    <button class="btn btn-danger" (click)="Hide()">cancel</button>
</div>

 

