
<div class="modal-body">
   
    <div class="row ">
        <div class="col-md-2"> <label for="notecc1" >notecc1</label></div>
        <div class="col-md-3">
            <div class="form-group" >
               
                <input type="number" class="form-control" id="notecc1" name="notecc1"   />
            </div>
        </div>
        <div class="col-md-2"><label for="notecc2" >notecc2</label></div>
    <div class="col-md-3">
        <div class="form-group" >  
            <input type="number" class="form-control" id="notecc2" name="notecc2"  />
        </div>
    </div>
<div class="col-md-1">
    <button class="btn btn-primary">save</button>
</div>
</div>
  


</div>

 

