<div class="modal-header">
    <h2>Edit Note</h2>
</div>
<div class="modal-body">
    <dl class="row-md jh-entity-details">
        <div class="row">
            <div class="col-md-3">
                <dt><span jhiTranslate="gestionNotesFsegsApp.etudiant.cin">Cin</span></dt>
                <dd>
                    <span>{{ etudiantnotes.cin }}</span>
                </dd>

            </div>
            <div class="col-md-3">
                <dt><span jhiTranslate="gestionNotesFsegsApp.etudiant.nom">Nom</span></dt>
                <dd>
                    <span>{{ etudiantnotes.nom }}</span>
                </dd>
            </div>
            <div class="col-md-3">
                <dt><span jhiTranslate="gestionNotesFsegsApp.etudiant.matricule">Matricule</span></dt>
                <dd>
                    <span>{{ etudiantnotes.matricule }}</span>
                </dd>
            </div>
            <div class="col-md-3">
                <dt><span>Matiere</span></dt>

                <dd>
                    <span>{{ matiereName }}</span>
                </dd>
            </div>
        </div>
    </dl>

    <div class="form-group">
        <label class="form-control-label" jhiTranslate="gestionNotesFsegsApp.resultat.notecc1"
            for="field_notecc1">Notecc 1</label>
        <input type="number" class="form-control" name="notecc1" id="field_notecc1"
            [(ngModel)]="etudiantnotes.notecc1" />
    </div>

    <div class="form-group">
        <label class="form-control-label" jhiTranslate="gestionNotesFsegsApp.resultat.notecc2"
            for="field_notecc2">Notecc 2</label>
        <input type="number" class="form-control" name="notecc2" id="field_notecc2"
            [(ngModel)]="etudiantnotes.notecc2" />
    </div>
</div>

<div class="modal-footer">
    <button class="btn btn-primary" (click)="save()">save</button>
</div>