<div>
    <h2 id="page-heading">
        <span jhiTranslate="gestionNotesFsegsApp.uniteEnseignement.home.title">Unite Enseignements</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-unite-enseignement" [routerLink]="['/unite-enseignement/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="gestionNotesFsegsApp.uniteEnseignement.home.createLabel">
            Create a new Unite Enseignement
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="uniteEnseignements?.length === 0">
        <span jhiTranslate="gestionNotesFsegsApp.uniteEnseignement.home.notFound">No uniteEnseignements found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="uniteEnseignements && uniteEnseignements.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="nomUE"><span jhiTranslate="gestionNotesFsegsApp.uniteEnseignement.nomUE">Nom UE</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="desgnationUE"><span jhiTranslate="gestionNotesFsegsApp.uniteEnseignement.desgnationUE">Desgnation UE</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="coefficientUE"><span jhiTranslate="gestionNotesFsegsApp.uniteEnseignement.coefficientUE">Coefficient UE</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let uniteEnseignement of uniteEnseignements ;trackBy: trackId">
                    <td><a [routerLink]="['/unite-enseignement', uniteEnseignement.id, 'view']">{{ uniteEnseignement.id }}</a></td>
                    <td>{{ uniteEnseignement.nomUE }}</td>
                    <td>{{ uniteEnseignement.desgnationUE }}</td>
                    <td>{{ uniteEnseignement.coefficientUE }}</td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/unite-enseignement', uniteEnseignement.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/unite-enseignement', uniteEnseignement.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(uniteEnseignement)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div *ngIf="uniteEnseignements && uniteEnseignements.length > 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>

        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
    </div>
</div>
