<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="semstre">
            <h2><span jhiTranslate="gestionNotesFsegsApp.semstre.detail.title">Semstre</span> {{ semstre.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="gestionNotesFsegsApp.semstre.annee">Annee</span></dt>
                <dd>
                    <span>{{ semstre.annee }}</span>
                </dd>
                <dt><span jhiTranslate="gestionNotesFsegsApp.semstre.numSemstre">Num Semstre</span></dt>
                <dd>
                    <span>{{ semstre.numSemstre }}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/semstre', semstre.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
