.logo-excel {
  height: 25px;
  width: 25px;
  display: inline-block;
  vertical-align: middle;
  background: url('../../../../../content/images/excel.png') no-repeat center center;
  background-size: contain;
}
.right{
    right: 0px;
}
.border{
    border: none;
}