<div>


    <div class="alert alert-warning" id="no-result" *ngIf="notes?.length === 0">
        <span jhiTranslate="gestionNotesFsegsApp.resultat.home.notFound">No resultats found</span>
    </div>
<button class="btn btn-primary" (click)="exportexcel()">export excet</button>
    <div class="table-responsive" id="entities" *ngIf="notes && notes.length > 0">
        <table class="table table-bordered" aria-describedby="page-heading">
            <thead>
                    <th scope="col"  ></th>
                    <th scope="col"  >rigime</th>
                    <th scope="col"  >coefficient</th>
                    <th scope="col"  ><span jhiTranslate="gestionNotesFsegsApp.resultat.notecc1">Notecc 1</span> </th>
                    <th scope="col"  ><span jhiTranslate="gestionNotesFsegsApp.resultat.notecc2">Notecc 2</span> </th>
                    <th scope="col" ><span jhiTranslate="gestionNotesFsegsApp.resultat.noteexmen">Noteexmen</span> </th>
                  
                
            </thead>
            <tbody>
                <tr *ngFor="let note of notes ">
                  
                    <th scope="col">{{note.nom}}</th>
                
                    <td>{{ note.regime }}</td>
                    <td>{{ note.coefficientMatiere }}</td>
                    <td>{{ note.notecc1 }}</td>
                    <td>{{ note.notecc2 }}</td>
                    <td>{{ note.examne }}</td>
              
                  
                    
                </tr>
            </tbody>
        </table>
    </div>

  
</div>
