<ng-container *ngFor="let inscription of inscription$ |async">
    <div class="header text-center">
        <div class="row" style="background-color: #D4E157;">
            <div class="col-md-4">
                <h6>Nom Étudiant :{{inscription.nom}}</h6>
            </div>
            
            <div class="col-md-4">
                
<h6>Prénom Étudiant :{{inscription.prenom}}</h6>
            </div>
            
            <div class="col-md-4">
                
<h6>Matricule  :{{inscription.matricule}}</h6>
            </div>
        </div>

    </div>
<div class="body">
    <resultat-classe [classid]="calsseid" [inscriptionid]="inscription.id"></resultat-classe>
</div>
</ng-container>