<div class="modal-header">
    <h4>Examen</h4>
</div>
<div class="modal-body">
    <div class="row justify-content-center">
        <div class="col-md-4">
            <h6>Session</h6>
            <select class="form-control"  [(ngModel)]="examen.session">
                <option ngValue="control">control</option> 
                <option ngValue="principal">principal</option> 
              
             </select>
        </div>
        <div class="col-md-4">
            <h6>Semester</h6>
            <select-semester (selectSemestre)="selectSmestre($event)"></select-semester>
        </div>
    </div>
    <br>
    <div class="row justify-content-center">
        <div class="col-md-4">
            <h6>Cycle</h6>
            <select-cycle (selectCycle)="selectcycle($event)"></select-cycle>
        </div>
        <div class="col-md-4">
            <h6>Niveau</h6>
            <select-niveau (selectNiveau)="selectNiveau($event)"></select-niveau>
        </div>
    </div>
    <br>
    <div class="row justify-content-center">
        <div class="col-md-4">
            <h6>Filière</h6>
            <select-speciality (selectSpecialite)="selectspeciality($event)"></select-speciality>
        </div>
        <div class="col-md-4">
            <h6>Matière</h6>
            <select-matiere (selectMatiere)="selectMatiere($event)"></select-matiere>
        </div>
    </div>
    <br>
    <div class="row justify-content-center">
        <div class="col-md-4">
          <h6> Correcteur</h6>
          <select class="form-control"  [(ngModel)]="corrige.enseignantId" >
              <option [ngValue]="null"></option>
              <option [ngValue]="ensiegnantOption.id" *ngFor="let ensiegnantOption of  ensiegnant$ |async">
                  {{ ensiegnantOption.nom }} {{ ensiegnantOption.pernom }}
              </option>
        </select>
        </div>
   
      <div class="col-md-4">
          <h6> Envoloppe</h6>
          <input type="number" [(ngModel)]="enveloppe.nameenv">
      </div>
  </div> 
  <br>
    <div class="row justify-content-center">
        De 
        <div class="col-md-2">
          <input type="number" [(ngModel)]="start">
        </div>
        <div class="col-md-1">
            Jusqu'à</div>
        <div class="col-md-2">
            <input type="number" [(ngModel)]="end">
        </div>
        <div class="col-md-2">
            <button class="btn btn-primary" (click)="valid()">Valider</button>
        </div>
    </div> 
    <br>
  
<div class="row justify-content-center">
    <div class="col-md-8">
        <table class="table table-bordered">
            <thead>
                <th>Numéro  Compostage </th>
                <th>Matricule</th>
            </thead>
            <tbody>
                <tr *ngFor="let row of tblNumCompose">
                    <td>{{row.numcomp}}
                   </td>
                    <td *ngIf="row.done">{{row.matricule}}
                        <button class="btn btn-primary" (click)="modifier(row)">edit</button>
                 
                    </td>
                    <td *ngIf="!row.done">
                        <input type="text" [(ngModel)]="row.matricule" (keyup.enter)="edit(row)">
                        
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

</div>