<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="enseignement">
            <h2><span jhiTranslate="gestionNotesFsegsApp.enseignement.detail.title">Enseignement</span> {{ enseignement.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="gestionNotesFsegsApp.enseignement.matiere">Matiere</span></dt>
                <dd>
                    <div *ngIf="enseignement.matiereId">
                        <a [routerLink]="['/matiere', enseignement.matiereId, 'view']">{{ enseignement.matiereId }}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="gestionNotesFsegsApp.enseignement.enseignant">Enseignant</span></dt>
                <dd>
                    <div *ngIf="enseignement.enseignantId">
                        <a [routerLink]="['/enseignant', enseignement.enseignantId, 'view']">{{ enseignement.enseignantId }}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="gestionNotesFsegsApp.enseignement.groupe">Groupe</span></dt>
                <dd>
                    <div *ngIf="enseignement.groupeId">
                        <a [routerLink]="['/groupe', enseignement.groupeId, 'view']">{{ enseignement.groupeId }}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="gestionNotesFsegsApp.enseignement.typeEnseignement">Type Enseignement</span></dt>
                <dd>
                    <div *ngIf="enseignement.typeEnseignementId">
                        <a [routerLink]="['/type-enseignement', enseignement.typeEnseignementId, 'view']">{{ enseignement.typeEnseignementId }}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="gestionNotesFsegsApp.enseignement.classe">Classe</span></dt>
                <dd>
                    <div *ngIf="enseignement.classeId">
                        <a [routerLink]="['/classe', enseignement.classeId, 'view']">{{ enseignement.classeId }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/enseignement', enseignement.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
