<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-enseignement-heading" jhiTranslate="gestionNotesFsegsApp.enseignement.home.createOrEditLabel">Create or edit a Enseignement</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gestionNotesFsegsApp.enseignement.matiere" for="field_matiere">Matiere</label>
                    <select class="form-control" id="field_matiere" name="matiere" formControlName="matiereId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="matiereOption.id" *ngFor="let matiereOption of matieres; trackBy: trackById">{{ matiereOption.id }}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gestionNotesFsegsApp.enseignement.enseignant" for="field_enseignant">Enseignant</label>
                    <select class="form-control" id="field_enseignant" name="enseignant" formControlName="enseignantId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="enseignantOption.id" *ngFor="let enseignantOption of enseignants; trackBy: trackById">{{ enseignantOption.id }}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gestionNotesFsegsApp.enseignement.groupe" for="field_groupe">Groupe</label>
                    <select class="form-control" id="field_groupe" name="groupe" formControlName="groupeId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="groupeOption.id" *ngFor="let groupeOption of groupes; trackBy: trackById">{{ groupeOption.id }}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gestionNotesFsegsApp.enseignement.typeEnseignement" for="field_typeEnseignement">Type Enseignement</label>
                    <select class="form-control" id="field_typeEnseignement" name="typeEnseignement" formControlName="typeEnseignementId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="typeEnseignementOption.id" *ngFor="let typeEnseignementOption of typeenseignements; trackBy: trackById">{{ typeEnseignementOption.id }}</option>
                    </select>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
