<div>
    <h2 id="page-heading">
        <span jhiTranslate="gestionNotesFsegsApp.matiere.home.title">Matieres</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-matiere" [routerLink]="['/matiere/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="gestionNotesFsegsApp.matiere.home.createLabel">
            Create a new Matiere
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="matieres?.length === 0">
        <span jhiTranslate="gestionNotesFsegsApp.matiere.home.notFound">No matieres found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="matieres && matieres.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="coefficientMatiere"><span jhiTranslate="gestionNotesFsegsApp.matiere.coefficientMatiere">Coefficient Matiere</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="coefficientTp"><span jhiTranslate="gestionNotesFsegsApp.matiere.coefficientTp">Coefficient Tp</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="coefficientDc"><span jhiTranslate="gestionNotesFsegsApp.matiere.coefficientDc">Coefficient Dc</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="coefficientExem"><span jhiTranslate="gestionNotesFsegsApp.matiere.coefficientExem">Coefficient Exem</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="designation"><span jhiTranslate="gestionNotesFsegsApp.matiere.designation">Designation</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="nom"><span jhiTranslate="gestionNotesFsegsApp.matiere.nom">Nom</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="regimeId"><span jhiTranslate="gestionNotesFsegsApp.matiere.regime">Regime</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let matiere of matieres ;trackBy: trackId">
                    <td><a [routerLink]="['/matiere', matiere.id, 'view']">{{ matiere.id }}</a></td>
                    <td>{{ matiere.coefficientMatiere }}</td>
                    <td>{{ matiere.coefficientCC }}</td>
                    <td>{{ matiere.coefficientDc }}</td>
                    <td>{{ matiere.coefficientExem }}</td>
                    <td>{{ matiere.designation }}</td>
                    <td>{{ matiere.nom }}</td>
                    <td>
                        <div *ngIf="matiere.regimeId">
                            <a [routerLink]="['/regime', matiere.regimeId , 'view']" >{{ matiere.regimeId }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/matiere', matiere.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">Voire</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/matiere', matiere.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(matiere)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div *ngIf="matieres && matieres.length > 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>

        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
    </div>
</div>
