<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="specialite">
            <h2><span jhiTranslate="gestionNotesFsegsApp.specialite.detail.title">Specialite</span> {{ specialite.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="gestionNotesFsegsApp.specialite.libelle">Libelle</span></dt>
                <dd>
                    <span>{{ specialite.libelle }}</span>
                </dd>
                <dt><span jhiTranslate="gestionNotesFsegsApp.specialite.cycle">Cycle</span></dt>
                <dd>
                    <div *ngIf="specialite.cycleId">
                        <a [routerLink]="['/cycle', specialite.cycleId, 'view']">{{ specialite.cycleId }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/specialite', specialite.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
