<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-classe-heading" jhiTranslate="gestionNotesFsegsApp.classe.home.createOrEditLabel">Create or edit a Classe</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gestionNotesFsegsApp.classe.nom" for="field_nom">Nom</label>
                    <input type="text" class="form-control" name="nom" id="field_nom"
                           formControlName="nom"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gestionNotesFsegsApp.classe.specialite" for="field_specialite">Filière</label>
                    <select class="form-control" id="field_specialite" name="specialite" formControlName="specialiteId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="specialiteOption.id" *ngFor="let specialiteOption of specialites; trackBy: trackById">{{ specialiteOption.libelle }}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gestionNotesFsegsApp.classe.niveau" for="field_niveau">Niveau</label>
                    <select class="form-control" id="field_niveau" name="niveau" formControlName="niveauId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="niveauOption.id" *ngFor="let niveauOption of niveaus; trackBy: trackById">{{ niveauOption.niveau }}</option>
                    </select>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
