<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-examen-heading" jhiTranslate="gestionNotesFsegsApp.examen.home.createOrEditLabel">Create or edit a Examen</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gestionNotesFsegsApp.examen.matricule" for="field_matricule">Matricule</label>
                    <input type="text" class="form-control" name="matricule" id="field_matricule"
                           formControlName="matricule"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gestionNotesFsegsApp.examen.session" for="field_session">Session</label>
                    <input type="text" class="form-control" name="session" id="field_session"
                           formControlName="session"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gestionNotesFsegsApp.examen.numcomp" for="field_numcomp">Numcomp</label>
                    <input type="number" class="form-control" name="numcomp" id="field_numcomp"
                           formControlName="numcomp"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gestionNotesFsegsApp.examen.matiere" for="field_matiere">Matiere</label>
                    <select class="form-control" id="field_matiere" name="matiere" formControlName="matiereId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="matiereOption.id" *ngFor="let matiereOption of matieres; trackBy: trackById">{{ matiereOption.id }}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gestionNotesFsegsApp.examen.inscription" for="field_inscription">Inscription</label>
                    <select class="form-control" id="field_inscription" name="inscription" formControlName="inscriptionId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="inscriptionOption.id" *ngFor="let inscriptionOption of inscriptions; trackBy: trackById">{{ inscriptionOption.id }}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gestionNotesFsegsApp.examen.semstre" for="field_semstre">Semstre</label>
                    <select class="form-control" id="field_semstre" name="semstre" formControlName="semstreId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="semstreOption.id" *ngFor="let semstreOption of semstres; trackBy: trackById">{{ semstreOption.id }}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gestionNotesFsegsApp.examen.niveau" for="field_niveau">Niveau</label>
                    <select class="form-control" id="field_niveau" name="niveau" formControlName="niveauId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="niveauOption.id" *ngFor="let niveauOption of niveaus; trackBy: trackById">{{ niveauOption.id }}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gestionNotesFsegsApp.examen.specialite" for="field_specialite">filière</label>
                    <select class="form-control" id="field_specialite" name="specialite" formControlName="specialiteId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="specialiteOption.id" *ngFor="let specialiteOption of specialites; trackBy: trackById">{{ specialiteOption.id }}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gestionNotesFsegsApp.examen.enveloppe" for="field_enveloppe">Enveloppe</label>
                    <select class="form-control" id="field_enveloppe" name="enveloppe" formControlName="enveloppeId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="enveloppeOption.id" *ngFor="let enveloppeOption of enveloppes; trackBy: trackById">{{ enveloppeOption.id }}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gestionNotesFsegsApp.examen.cycle" for="field_cycle">Cycle</label>
                    <select class="form-control" id="field_cycle" name="cycle" formControlName="cycleId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="cycleOption.id" *ngFor="let cycleOption of cycles; trackBy: trackById">{{ cycleOption.id }}</option>
                    </select>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
